
<!-- STICKY KONTAKTDATEN -->
<div class="sticky">
	<span class="normal"><a href="tel:004956199792360"><img alt="+49 561 997 923 60" class="themen-icon img-fluid"
															src="img/jpg/phone-light-white.svg">&nbsp;&nbsp;<b>+49 561 997 923 60</b></a></span><br>
	<span class="normal"><a href="mailto:client-success@treaction.net"><img alt="client-success@treaction.net"
																			class="themen-icon img-fluid"
																			src="img/jpg/envelope-light-white.svg">&nbsp;&nbsp;<b>client-success@treaction.net</b></a></span>
</div>
<!-- ./STICKY KONTAKTDATEN -->
<!-- NAVBAR -->
<nav class="shadow sticky-top navbar navbar-expand-lg nav-light">
	<div class="container">
		<a href="https://marketing-in-one.net" target="_blank"><img alt="MARKETING-IN-ONE-Logo" class="branding-logo"
																	src="img/jpg/marketing-in-one_logo_white.svg"></a>
		<button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
				class="navbar-toggler navbar-light" data-target="#navbarSupportedContent" data-toggle="collapse"
				type="button"><span class="navbar-toggler-icon"></span></button>
		<div class="background-white collapse navbar-collapse" id="navbarSupportedContent"
			 style="background-color: #fff!important;">
			<ul class="navbar-nav mr-auto nav-fill w-100">
				<li class="nav-item">
					<a class="nav-link nav-custom-link" href="#"></a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<!-- .NAVBAR -->
<!-- SECTION TESTIMONIALS -->
<section class="testimonials">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-alignment mobile-padding">
				<h2 class="hs-green">Vielen Dank. Deine Anmeldung war Erfolgreich.</h2>
				<hr>
				<p>Wir melden uns bei Dir in den nächsten 24 Stunden. In der Zwischenzeit kannst Du unsere weiteren Angebote erkunden:</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 text-center mobile-padding">
				<a href="https://treaction.net/produkte/" target="_blank">
					<button class="btn treaction-btn" type="button" style="margin-top: 20px;">PRODUKTÜBERSICHT &nbsp;<i class="fal fa-chevron-right treaction-btn-icon"></i></button>
				</a>
			</div>
		</div>
	</div>
</section>

<!-- ./ANSPRECHPARTNER -->
<!-- FOOTER -->
<footer id="treaction-footer" style="position: absolute !important;width: 100% !important;bottom: 0 !important;">
	<div class="container mobile-hidden">
		<div class="row">
			<div class="col-md-12 col-lg-8 footer-linkbereich">
				<a class="footer-link" href="https://treaction.net/impressum" target="_blank">Impressum</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
				<a class="footer-link" href="https://treaction.net/datenschutz" target="_blank">Datenschutz</a>
			</div>
			<div class="col-md-12 col-lg-4 footer-iconbereich">
				<a href="https://www.facebook.com/treactionag" target="_blank"><img alt="facebook"
																					class="social-icon img-fluid"
																					src="img/jpg/facebook-square-brands.svg"></a>&nbsp;&nbsp;
				<a href="https://www.xing.com/companies/treactionag" target="_blank"><img alt="xing"
																						  class="social-icon img-fluid"
																						  src="img/jpg/xing-square-brands.svg"></a>&nbsp;&nbsp;
				<a href="https://www.linkedin.com/company/treaction-ag?trk=prof-exp-company-name" target="_blank"><img
						alt="linkedin" class="social-icon img-fluid" src="img/jpg/linkedin-brands.svg"></a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<p class="copyright">© 2022 treaction ag</p>
			</div>
		</div>
	</div>
	<div class="container desktop-hidden">
		<div class="row">
			<div class="col-sm-12 footer-linkbereich-mobile">
				<a class="footer-link" href="https://treaction.net/impressum" target="_blank">Impressum</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
				<a class="footer-link" href="https://treaction.net/datenschutz" target="_blank">Datenschutz</a>
			</div>
			<div class="col-sm-12">
				<p class="copyright-mobile">© 2022 treaction ag</p>
			</div>
			<div class="col-sm-12 footer-iconbereich-mobile">
				<a href="https://www.facebook.com/treactionag" target="_blank"><img alt="facebook" class="img-fluid"
																					src="img/jpg/facebook-square-brands.svg"></a>&nbsp;&nbsp;
				<a href="https://www.xing.com/companies/treactionag" target="_blank"><img alt="xing" class="img-fluid"
																						  src="img/jpg/xing-square-brands.svg"></a>&nbsp;&nbsp;
				<a href="https://www.linkedin.com/company/treaction-ag?trk=prof-exp-company-name" target="_blank"><img
						alt="linkedin" class="img-fluid" src="img/jpg/linkedin-brands.svg"></a>
			</div>
		</div>
	</div>
</footer>
<!-- ./FOOTER -->
