/* CUSTOM FONTS */

/* titillium-web-regular - latin */
@font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 400;
	src: url('../../fonts/titillium-web-v10-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('../../fonts/titillium-web-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../../fonts/titillium-web-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('../../fonts/titillium-web-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
	url('../../fonts/titillium-web-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../../fonts/titillium-web-v10-latin-regular.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
}
/* titillium-web-600 - latin */
@font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 600;
	src: url('../../fonts/titillium-web-v10-latin-600.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('../../fonts/titillium-web-v10-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../../fonts/titillium-web-v10-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
	url('../../fonts/titillium-web-v10-latin-600.woff') format('woff'), /* Modern Browsers */
	url('../../fonts/titillium-web-v10-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../../fonts/titillium-web-v10-latin-600.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
}

/* roboto-300 - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: url('../../fonts/roboto-v29-latin-300.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('../../fonts/roboto-v29-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../../fonts/roboto-v29-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
	url('../../fonts/roboto-v29-latin-300.woff') format('woff'), /* Modern Browsers */
	url('../../fonts/roboto-v29-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../../fonts/roboto-v29-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url('../../fonts/roboto-v29-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('../../fonts/roboto-v29-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../../fonts/roboto-v29-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('../../fonts/roboto-v29-latin-regular.woff') format('woff'), /* Modern Browsers */
	url('../../fonts/roboto-v29-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../../fonts/roboto-v29-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}



/* BEGIN GENERAL CSS */

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #000000;
	background: #ffffff;
	border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 600;
}


a:link,
a:visited,
a:hover,
a:active {
	color: #7abe73;
}
.fett{
	font-weight:600;
}
.hidden {
	display:none;
}

.text-alignment {
	text-align: center;
}
.mobile-hidden {
	display: block;
}
.desktop-hidden {
	display: none;
}
.treaction-green {
	color: #7abe73;
}
.background-white{
	background-color: #ffffff!important;
}
li.normal {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 300;
	color:#000000;
}
p.normal {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 34px;
	color:#000000;
}
.sticky{
	background-color:#7abe73;
	padding:10px;
	border-radius: 5px;
	width:280px;
	height:70px;
	position:fixed;
	right:0;
	margin-right: 25px;
	margin-top: 150px;
	z-index: 100;
	font-size:14px;
}
.sticky a{
	color:#fff;
	text-decoration:none;
}
.sticky a:hover{
	color:#fff;
	text-decoration:none;
}
.sticky img{
	width:20px;
	height:20px;
}
/* END GENERAL CSS */

/*NAV*/
/* nav shadow */
.shadow {
	-moz-box-shadow:    2px 2px 2px 2px #ccc;
	-webkit-box-shadow: 2px 2px 2px 2px #ccc;
	box-shadow:         2px 2px 2px 2px #ccc;
}
nav{
	font-family: 'Titillium Web', sans-serif;
	font-weight: 600;
	font-size: 16px;
	color: #FFF;
	text-decoration: none;
	background-color: #ffffff;
}
.navbar{
	background-color: #ffffff;
}
.nav-custom-link{
	color: #000000!important;
	font-weight: 400;
}
.nav-custom-link:hover{
	color: #7abe73!important;
	font-weight: 400;
}
.branding-logo{
	width:250px;
}




/* BUTTONS */

.treaction-nav-btn {
	background-color: #7abe73;
	color: #ffffff;
	padding: 6px 20px;
	font-size: 16px;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;
	border-radius: 3px;
}
.treaction-nav-btn:hover {
	background-color: #61985C;
	color: #ffffff;
}
.treaction-nav-btn:focus {
	box-shadow: 0 0 0 0.2rem rgba(75,150,68,.5);
}

button.header-btn {
	background-color: #7abe73;
	color: #FFF;
	padding: 15px 40px;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	margin-top: 25px;
	border-radius: 5px;
}
button.header-btn:hover {
	background-color: #61985C;
	color: #fff;
}
button.header-btn:focus {
	box-shadow: 0 0 0 0.2rem rgba(255,255,255,.35) !important;
}
i.header-btn-icon {
	font-size:22px;
	vertical-align: 2px;
}

button.treaction-btn {
	background-color: #7abe73;
	color: #FFF;
	padding: 6px 20px;
	font-size: 16px;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 500;
	border-radius: 3px;
}
button.treaction-btn:hover {
	background-color: #61985C;
	color: #FFF;
}
button.treaction-btn:focus {
	box-shadow: 0 0 0 0.2rem rgba(75,150,68,.5) !important;
}
i.treaction-btn-icon {
	font-size:18px;
	vertical-align: 1px;
}

button.treaction-btn-form {
	background-color: #7abe73;
	color: #FFF;
	padding: 6px 20px;
	font-size: 22px;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
}
button.treaction-btn-form:hover {
	background-color: #FFF;
	color: #7abe73;
}
button.treaction-btn-form:focus {
	box-shadow: 0 0 0 0.2rem rgba(255,255,255,.35) !important;
}
i.treaction-btn-form-icon {
	font-size:18px;
	vertical-align: 1px;
}
/* ENDE BUTTONS */

/* HEADERBEREICH */
.header-treaction {
	background-color: #ffffff;
	padding-top: 100px;
	padding-bottom: 100px;
}

.treaction-title {
	color: #000000;
	font-size: 48px;
	line-height: 60px;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 600;

}
.treaction-title-thin {
	color: #000000;
	font-size: 48px;
	line-height: 50px;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;

}
h2.treaction-subtitle {
	color: #000000;
	font-size: 46px;
	line-height: 58px;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 500;
}
.mvps{
	margin-top:100px;
}

.mvp-padding{
	padding:20px;
}

.mvps img{
	width:50px;
	height:50px;
}
/* ENDE HEADERBEREICH DESKTOP */

/* SECTION THEMEN */
section.themen-service {
	background-color: #f3f6f9;
	padding-top: 100px;
	padding-bottom: 100px;
}
section.themen-header {
	background-color: #FFF;
	padding-top: 100px;
	padding-bottom: 100px;
}
section.themen {
	background-color: #FFF;
	padding-top: 80px;
	padding-bottom: 80px;
}
i.themen-icon {
	font-size: 40px;
	/*color: #7abe73;*/
}
h5.themen-icon-title {
	margin-top: 15px;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #000000;
}

/* SECTION FORMULAR */
section.formular {
	background-color: #f3f6f9;
	padding-top: 80px;
	padding-bottom: 80px;
}
.form-description{
	padding:50px;
	background-color: #f3f6f9;
	border-radius:5px;
}
.form-container{
	background-color:#fff;
	padding: 25px;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}

.gradient-bg{
	background: rgb(34,68,63);
	background: linear-gradient(180deg, rgba(34,68,63,1) 12%, rgba(121,189,114,1) 100%);
	padding:30px;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	color: #404040!important;
	font-family: 'Roboto', sans-serif;
}
input:-moz-placeholder, textarea:-moz-placeholder {
	color: #404040!important;
	font-family: 'Roboto', sans-serif;
}

.checkboxcontainer-treaction {
	margin-bottom: 3px;
	color:#FFF;
}
.checkboxcontainer-treaction input {
	display: none;
}
.checkbox-treaction {
	position: absolute;
	top: 16px;
	left: 20px;
	height: 16px;
	width: 16px;
	border: 1px solid #000;
	border-radius: 3px;
	background-color: #FFF;
}
.checkboxcontainer-treaction input:checked ~ .checkbox-treaction {
	background-color: #FFF;
}
.checkbox-treaction:after {
	font-family: "Font Awesome 5 Pro";
	font-weight: 900;
	font-size: 0.75rem;
	margin-left: 2px;
	margin-top: -1px;
	content: "\f00c";
	position: absolute;
	display: none;
}
.checkboxcontainer-treaction input:checked ~ .checkbox-treaction:after {
	display: inline-block;
}
.checkboxcontainer-treaction .checkbox-treaction:after {
	color: #7abe73
}

h4.mehrwerte-headline {
	color: #FFF;
	margin-bottom: 25px;
}
h5.mehrwerte {
	font-weight: 300;
	color: #FFF;
}
ul.mehrwerte-liste {
	margin-left: 30px;
	margin-top:30px!important;
}
ul.mehrwerte-liste li {
	margin-bottom: 18px;

}
i.mehrwerte-icon {
	color: #7abe73;
	font-size: 1.4rem;
	vertical-align: -2px;
}
/* ENDE SECTION FORMULAR */

/* SECTION TESTIMONIALS */
section.testimonials {
	background-color: #FFF;
	padding-top: 10px;
	padding-bottom: 80px;
}
div.zitat-bg {
	border-radius: 5px;
	padding: 15px 20px;
}
p.testimonial-zitat {
	color: #404040;
	font-size: 26px;
	line-height: 40px;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 500;
}
p.testimonial-name {
	font-family: 'Titillium Web', sans-serif;
	font-size: 22px;
	font-weight: 500;
	color: #404040;
	margin-bottom: 2px;
}
.testimonial-img{
	text-align: left;
}
.carousel-item {
	height: 500px;
	overflow: hidden;
	width: 100%;

}
.carousel-indicators,
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
	filter: invert(100%);
}

.carousel-control-prev {
	margin-left: -100px;
}

.carousel-control-next {
	margin-right: -100px;
}

/* ENDE SECTION TESTIMONIALS */

/* KONTAKT */
.ansprechpartner-kontakt{
	font-size:24px;
	font-weight:600;
}
.ansprechpartner-kontakt a{
	color:#000000;
	text-decoration:none;
}
.ansprechpartner-kontakt a:hover{
	color:#000000;
	text-decoration:none;
}
.ansprechpartner-kontakt img{
	width:25px;
	height:25px;
}
div.icon-box {
	float: left;
	height: 50px;
	width: 50px;
	text-align: center;
}
.icon-box i {
	position:relative;
	top: calc(50% - 10px);
	font-size: 20px;
	color: #FFF;
}
.clearspace{

	width:100%;
	height:25px;
}
div.icon-box-mobile {
	height: 50px;
	width: 50px;
	text-align: center;
}
.icon-box-mobile i {
	position:relative;
	top: calc(50% - 10px);
	font-size: 20px;
	color: #FFF;
}
div.kontakt-box{
	float: left;
	height: 50px;
	display: table;
	padding-right: 15px;
}
.kontakt-box a {
	color: #FFF !important;
	text-decoration: none !important;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}
div.clear {
	clear: both;
}

/* FOOTER */
#treaction-footer {
	background-color: #22262c;
	padding-top: 50px;
	padding-bottom: 60px;

}
.footer-linkbereich {
	text-align: left;
	font-family: 'Titillium Web', sans-serif;
	font-size: 20px;
	color: #FFF;
}
a.footer-link {
	transition-duration: 0.15s;
	transition-property: color;
	transition-timing-function: ease-in-out;
	color: #FFF;
	text-decoration: none;
}
a.footer-link:hover {
	color: #7abe73;
	text-decoration: none;
}
.footer-iconbereich {
	text-align: right;
}
i.footer-icon {
	font-size: 32px;
	color: #FFF;
	transition-duration: 0.15s;
	transition-property: color;
	transition-timing-function: ease-in-out;
}
i.footer-icon:hover {
	color: #7abe73;
}
p.copyright {
	margin-top: 15px;
	font-size: 0.9rem;
	color: #FFF;
}

.footer-linkbereich-mobile {
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	font-size: 20px;
	color: #FFF;
}
p.copyright-mobile {
	text-align: center;
	margin-top: 15px;
	font-size: 0.9rem;
	color: #FFF;
}
.footer-iconbereich-mobile {
	text-align: center;
	margin-top: 10px;
}
i.footer-icon-mobile {
	font-size: 38px;
	color: #FFF;
	transition-duration: 0.15s;
	transition-property: color;
	transition-timing-function: ease-in-out;
}
.footer-iconbereich img{
	width:30px;
	height:30px;
}
.footer-iconbereich-mobile img{
	width:25px;
	height:25px;
}
/* ENDE FOOTER */

/* MEIDA QUERIES */
@media (max-width: 1600px) {

	.sticky{
		display:none;
	}
}

@media (max-width: 1200px) {

	.carousel-item {
		height: 800px;
		overflow: hidden;
		width: 100%;

	}

	p.testimonial-zitat {
		color: #000000;
		font-size: 22px;
		line-height: 32px;
		font-family: 'Titillium Web', sans-serif;
		font-weight: 500;
	}

}

@media (max-width: 992px) {

	.header-btn{
		margin-bottom: 25px;
	}

	.text-center-mobile{
		text-align: center;
	}

	.mobile-hidden {
		display: none!important;
	}
	.desktop-hidden {
		display: block;
	}
	.mobile-padding {
		padding-left: 25px;
		padding-right: 25px;
	}

	button.header-btn,
	button.treaction-btn-form {
		font-size: 16px!important;
	}

	.treaction-btn {
		font-size: 14px!important;

	}

}

@media (max-width: 770px) {
	.carousel-item {
		height: 600px!important;
		overflow: hidden;
		width: 100%;
	}

	p.testimonial-zitat {
		color: #000000;
		font-size: 20px;
		line-height: 30px;
		font-family: 'Titillium Web', sans-serif;
		font-weight: 500;
	}

}

@media (max-width: 500px) {

	.ansprechpartner-kontakt{
		font-size:16px!important;
	}

	.treaction-title{
		font-size:30px!important;
		line-height: 40px!important;
	}

	.treaction-title-thin{
		font-size:30px!important;
		line-height: 40px!important;
	}

	.treaction-subtitle {
		font-size:30px!important;
		line-height: 40px!important;
	}

	.header-btn{
		margin-bottom: 25px;
	}

	.header-treaction{
		padding-top: 25px!important;
		padding-bottom: 25px!important;
	}

	.themen-service{
		padding-top:25px!important;
		padding-bottom:25px!important;
	}

	.themen{
		padding-top:25px!important;
		padding-bottom:25px!important;
	}

	.formular{
		padding-top:25px!important;
		padding-bottom:25px!important;
	}

	.mvps{
		margin-top: 20px!important;
	}

	.themen-header{
		padding-top:25px!important;
		padding-bottom:25px!important;
	}
}

@media (max-width: 450px) {

	.form-left {
		padding-left:35px!important;
	}

	.mobile-text-table{
		font-size:14px;
	}

	.themen-header{
		padding-top:10px!important;
	}

}
/* Cookie */
/*Cookie Consent Begin*/
.cookiealert {
	position: sticky;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0 !important;
	z-index: 999;
	/*opacity: 9;
	transform: translateY(100%);
	visibility: hidden;
	border-radius: 0;*/
	transition: all 500ms ease-out;
	color: #ecf0f1;
	background: #222222;
}
.cookiealert.show {
	opacity: 1;
	visibility: visible;
	transform: translateY(0%);
	transition-delay: 1000ms;
}
.cookie-text {
	font-size: 16px;
}
.cookiealert a {
	text-decoration: underline;
	color: #7ABE73;
}
.cookiealert .acceptcookies {
	margin-left: 10px;
	vertical-align: baseline;
}
.cookie-btn-accept {
	border-radius: 0px;
	color: #ffffff;
	background-color: #7ABE73;
	border: 1px solid #7ABE73;
}
.cookie-btn-accept:active {
	background-color: #61985C!important;
	border: 1px solid #61985C!important;
}
.cookie-btn-accept:hover {
	background-color: #61985C!important;
	border: 1px solid #61985C!important;
}
.cookie-btn-dismiss {
	border-radius: 0px;
}
/*Cookie Consent End*/
/* cookie end */